<!--
/**
 * Barranco Contact
 */
-->
<li id="reason" class="contact-reason-step" data-bind="fadeVisible: visible()">
    <div class="step-title" translate="'Contact Reason'" data-role="title"></div>
    <div class="step-content">
        <form class="form contact-reason-form" submit="setReasonInformation">
            <render args="formTemplate"></render>
            <div class="contact-reason-block"
                 data-bind="blockLoader: isLoading">
                <div class="reason-block"
                     if="reason()">
                    <render args="formFieldsTemplate"></render>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button class="button action primary">
                                <span translate="'Next'"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="no-reason-block"
                     ifnot="reason()"
                     translate="'Sorry, but you must select a category reason first.'"></div>
            </div>
        </form>
    </div>
</li>
