// /*
//  * Barranco Contact
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .contact-progress-bar {
        &:extend(.abs-reset-list all);
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .contact-progress-bar-item {

        span {
            align-items: center;
            background: #ffffff;
            border: 4px solid;
            border-radius: 50%;
            display: flex;
            font-size: 22px;
            height: 50px;
            justify-content: center;
            width: 50px;
        }
    }

    .contact-progress-bar-line {
        background: #333333;
        height: 4px;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}
